<header class="header">
  <div class="navigation">
    <a href="{{ site.baseurl }}{% if page.url contains '/ko' %}/ko{% else %}/en{% endif %}" class="logo">{{ site.title }}</a>
    <ul class="menu">
      <li class="menu__entry">
        <a href="{{ site.baseurl }}{% if page.url contains '/ko' %}/ko/resume{% else %}/en/resume{% endif %}">Resume</a>
      </li>
      <li class="menu__entry">
        <a href="{{ site.baseurl }}{% if page.url contains '/ko' %}/ko/project{% else %}/en/project{% endif %}">Project</a>
      </li>
      <li class="menu__entry">
        <a href="{{ site.baseurl }}{% if page.url contains '/ko' %}/ko/blog{% else %}/en/blog{% endif %}">Blog</a>
      </li>
    </ul>
  </div>
  <ul class="social-links">
    {% if site.author.email %}
    <li class="social-links__entry">
      <a href="mailto:{{ site.author.email }}" target="_blank">
        <i class="fa fa-envelope-square"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.github %}
    <li class="social-links__entry">
      <a href="https://github.com/{{ site.author.github }}" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.linkedin %}
    <li class="social-links__entry">
      <a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    {% endif %}
    <li class="language-selector">
      <a href="{{ site.baseurl }}/en{{ page.url | remove_first: '/en' | remove_first: '/ko'}}"><strong>EN</strong></a> |
      <a href="{{ site.baseurl }}/ko{{ page.url | remove_first: '/ko' | remove_first: '/en'}}"><strong>KO</strong></a>
    </li>
  </ul>
</header>