<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ header.title }}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon 링크 추가 -->
</head>
<body>
    <header>
        <h1>{{ header.title }}</h1>
        <nav>
            <ul>
                <li><a href="index.html" {% if lang == 'en' %}class="active"{% endif %}>English</a></li>
                <li><a href="index_ko.html" {% if lang == 'ko' %}class="active"{% endif %}>한국어</a></li>
            </ul>
        </nav>
    </header>
    <section id="about">
        <h2>{{ sections.about.title }}</h2>
        <div class="about-content">
            <p>{{ sections.about.content }}</p>
            <img src="me.jpeg" alt="me">
        </div>
    </section>
    <section id="projects">
        <h2>{{ sections.projects.title }}</h2>
        <p>{{ sections.projects.content }}</p>
    </section>
    <section id="contact">
        <h2>{{ sections.contact.title }}</h2>
        <p>{{ sections.contact.content }}</p>
    </section>
    <footer>
        <p>{{ footer.copyright }}</p>
    </footer>
</body>
</html>
